<!DOCTYPE HTML>
<html>
  <head>
    <title>IceCube Factory</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
  </head>

  <body>
    <div>
      {{template "srccode" .}}
      {{template "logout" .}}
    </div>
    <fieldset class="fieldset-auto-width">
      <legend><h2>New Signal Creator</h2></legend>
      <ul id="menu">
        <li>
          <form action="/createReadSig" method="post">
            <fieldset class="fieldset-auto-width">
              <legend><h3>Read</h3></legend>
              Signal name:<br>
              <input type="text" name="signame" required></input><br><br>
              Serial string:<br>
              <input type="text" name="serialcommand" required></input><br><br>
              Data Type:<br>
              <select name="sigtype">
                <option value="integer">Integer</option>
                <option value="float">Float</option>
                <option value="string">C-style str</option>
              </select><br><br>
              <input type="submit" value="Create">
            </fieldset>
          </form>
        </li>
        <li>
          <form action="/createWriteSig" method="post">
            <fieldset class="fieldset-auto-width">
              <legend><h3>Write</h3></legend>
              Signal name:<br>
              <input type="text" name="signame" required></input><br><br>
              Serial string:<br>
              <input type="text" name="serialcommand" required></input><br><br>
              Data Type:<br>
              <select name="sigtype">
                <option value="integer">Integer</option>
                <option value="float">Float</option>
                <option value="string">C-style str</option>
              </select><br><br>
              <input type="submit" value="Create">
            </fieldset>
          </form>
        </li>
      </ul>
    </fieldset>
    <br>

    <h2>Protocol file</h2>
    {{range .Write}}
      <div class="protowrite">
        set_{{.SigName}} {<br>
        &emsp;out "{{.SerialStr}}{{.DataType}}\n";<br>
        &emsp;ExtraInput = Ignore;<br>
        }<br>
      </div>
    {{end}}
    {{range .Read}}
      <div class="protoread">
        get_{{.SigName}} {<br>
        &emsp;out "{{.SerialStr}}";<br>
        &emsp;in "{{.SerialStr}} {{.DataType}}"<br>
        &emsp;ExtraInput = Ignore;<br>
        }<br>
      </div>
    {{end}}

    <h2>EPICS DB file</h2>
    {{range .Write}}
      <div class="dbwrite">
        record(ao, {{.SigName}}:set) {<br>
        &emsp;field(DESC, "{{.SigName}} input")<br>
        &emsp;field(DTYP, "stream")<br>
        &emsp;field(INP, "@arduino.proto set_{{.SigName}}() $(PORT)")<br>
        }<br>
      </div>
    {{end}}
    {{range .Read}}
      <div class="dbread">
        record(ai, {{.SigName}}:get) {<br>
        &emsp;field(DESC, "{{.SigName}} output")<br>
        &emsp;field(DTYP, "stream")<br>
        &emsp;field(INP, "@arduino.proto get_{{.SigName}}() $(PORT)")<br>
        }<br>
      </div>
    {{end}}
  </body>
</html>
