<!DOCTYPE HTML>
<html>
  <head>
    <title>Ice Cube Dispenser</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
  </head>

  <body>
    <div id="header">
      <h1>Ice Cube Dispenser</h1>
      <div id="signout">{{template "logout" .}}</div>
    </div>
      <ul id="menu">
        <li>
          <form action="/createReadSig" method="post">
            <fieldset class="fieldset-auto-width">
              <legend><h3>Read</h3></legend>
              Signal name:<br>
              <input type="text" name="signame" required></input><br><br>
              Serial string:<br>
              <input type="text" name="serialcommand" required></input><br><br>
              Data Type:<br>
              <select name="sigtype">
                <option value="integer">Integer</option>
                <option value="float">Float</option>
                <option value="string">C-style str</option>
              </select><br><br>
              <input type="submit" value="Create">
            </fieldset>
          </form>
        </li>
        <li>
          <form action="/createWriteSig" method="post">
            <fieldset class="fieldset-auto-width">
              <legend><h3>Write</h3></legend>
              Signal name:<br>
              <input type="text" name="signame" required></input><br><br>
              Serial string:<br>
              <input type="text" name="serialcommand" required></input><br><br>
              Data Type:<br>
              <select name="sigtype">
                <option value="integer">Integer</option>
                <option value="float">Float</option>
                <option value="string">C-style str</option>
              </select><br><br>
              <input type="submit" value="Create">
            </fieldset>
          </form>
        </li>
      </ul>
    <br>

    <div id="protoblock">
    <h2>Protocol file</h2>
      <div class="code" id="proto">
        Terminator = LF;<br><br>
        {{range .Write}}
          set_{{.SigName}} {<br>
            &emsp;out "{{.SerialStr}}{{.DataType}}\n";<br>
            &emsp;ExtraInput = Ignore;<br>
          }<br>
        {{end}}
        {{range .Read}}
          get_{{.SigName}} {<br>
          &emsp;out "{{.SerialStr}}";<br>
          &emsp;in "{{.SerialStr}} {{.DataType}}"<br>
          &emsp;ExtraInput = Ignore;<br>
          }<br>
        {{end}}
      </div>
    </div>

  <div id="dbblock">
    <h2>EPICS DB file</h2>
      <div class="code" id="db">
        {{range .Write}}
          record(ao, {{.SigName}}:set) {<br>
          &emsp;field(DESC, "{{.SigName}} input")<br>
          &emsp;field(DTYP, "stream")<br>
          &emsp;field(INP, "@arduino.proto set_{{.SigName}}() $(PORT)")<br>
          }<br>
        {{end}}
        {{range .Read}}
          record(ai, {{.SigName}}:get) {<br>
          &emsp;field(DESC, "{{.SigName}} output")<br>
          &emsp;field(DTYP, "stream")<br>
          &emsp;field(INP, "@arduino.proto get_{{.SigName}}() $(PORT)")<br>
          }<br>
        {{end}}
      </div>
    </div>
    <div id="footer">
      <div>
        {{template "srccode" .}}
      </div>
    </div>
  </body>
</html>
