<!DOCTYPE HTML>
<html>
  <head>
    <title>Ice Cube Dispenser</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/stylesheet.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Titillium+Web">
  </head>

  <body>
    <div id="header">
      <h1>Ice Cube Dispenser</h1>
      <div id="signout">{{template "logout" .}}</div>
    </div>


      <a href="staticpages/guide.html">Instructions</a>
      <a href="/files/iceCubeIOC.tar.gz">Download an empty IceCube IOC</a>
    <table>
      <tr>
        <td><h3>Name</h3></td>
        <td><h3>Serial str</h3></td>
        <td><h3>Data type</h3></td>
        <td><h3>Read/Write</h3></td>
      </tr>
      {{range .Read}}
      <tr>
        <form action="/createSig" method="post">
          <td><input type="text" name="signame" value="{{.SigName}}" required></input></td>
          <td><input type="text" name="serialcommand" value="{{.SerialStr}}" required></input></td>
          <td>
            <select name="sigtype">
              <option value="integer" {{if eq .DataType "%d"}}selected="selected"{{end}}>Integer</option>
              <option value="float" {{if eq .DataType "%f"}}selected="selected"{{end}}>Float</option>
              <option value="string" {{if eq .DataType "%s"}}selected="selected"{{end}}>C-style str</option>
            </select>
          </td>
          <td align="center">
            <select name="rw">
              <option value="r" selected>Read</option>
              <option value="w">Write</option>
            </select>
          </td>
          <td><input type="submit" name="updateOrDelete" value="Update"></td>
          <td><input type="submit" name="updateOrDelete" value="Delete"></td>
        </form>
      </tr>
      {{end}}
      {{range .Write}}
      <tr>
        <form action="/createSig" method="post">
          <td><input type="text" name="signame" value="{{.SigName}}" required></input></td>
          <td><input type="text" name="serialcommand" value="{{.SerialStr}}" required></input></td>
          <td>
            <select name="sigtype">
              <option value="integer" {{if eq .DataType "%d"}}selected="selected"{{end}}>Integer</option>
              <option value="float" {{if eq .DataType "%f"}}selected="selected"{{end}}>Float</option>
              <option value="string" {{if eq .DataType "%s"}}selected="selected"{{end}}>C-style str</option>
            </select>
          </td>
          <td align="center">
            <select name="rw">
              <option value="r">Read</option>
              <option value="w" selected>Write</option>
            </select>
          </td>
          <td><input type="submit" name="updateOrDelete" value="Update"></td>
          <td><input type="submit" name="updateOrDelete" value="Delete"></td>
        </form>
      </tr>
      {{end}}
      <tr>
        <form action="/createSig" method="post">
          <td><input type="text" name="signame" required></input></td>
          <td><input type="text" name="serialcommand" required></input></td>
          <td>
            <select name="sigtype">
              <option value="integer">Integer</option>
              <option value="float">Float</option>
              <option value="string">C-style str</option>
            </select>
          </td>
          <td align="center">
            <select name="rw">
              <option value="r">Read</option>
              <option value="w">Write</option>
            </select>
          </td>
          <td><input type="submit" value="Create"></td>
        </form>
      </tr>
    </table>
    <br>

    <div>
    <div id="protoblock">
    <h2>Protocol file</h2>
      <div class="code" id="proto">
        Terminator = LF;<br><br>
        {{range .Write}}
          set_{{.SigName}} {<br>
            &emsp;out "{{.SerialStr}}{{.DataType}}\n";<br>
            &emsp;ExtraInput = Ignore;<br>
          }<br>
        {{end}}
        {{range .Read}}
          get_{{.SigName}} {<br>
          &emsp;out "{{.SerialStr}}";<br>
          &emsp;in "{{.SerialStr}} {{.DataType}}"<br>
          &emsp;ExtraInput = Ignore;<br>
          }<br>
        {{end}}
      </div>
    </div>

  <div id="dbblock">
    <h2>EPICS DB file</h2>
      <div class="code" id="db">
        {{range .Write}}
          record(ao, {{.SigName}}:set) {<br>
          &emsp;field(DESC, "{{.SigName}} input")<br>
          &emsp;field(DTYP, "stream")<br>
          &emsp;field(INP, "@arduino.proto set_{{.SigName}}() $(PORT)")<br>
          }<br>
        {{end}}
        {{range .Read}}
          record(ai, {{.SigName}}:get) {<br>
          &emsp;field(DESC, "{{.SigName}} output")<br>
          &emsp;field(DTYP, "stream")<br>
          &emsp;field(INP, "@arduino.proto get_{{.SigName}}() $(PORT)")<br>
          }<br>
        {{end}}
      </div>
    </div>


    <div id="arduinoblock">
    <h2>Arduino skeleton file</h2>
      <div class="code" id="arduino">
        /*<br>
        &emsp;&emsp;Define any global variables here/<br>
        &emsp;&emsp;LED pins, etc.<br>
        */</br>
        String input = "";<br>
        <br>
        void setup() {<br>
        &emsp;&emsp;// This baud-rate is expected by the IOC<br>
        &emsp;&emsp;Serial.begin(115200);<br>
        &emsp;&emsp;/*<br>
        &emsp;&emsp;&emsp;&emsp;Write your setup code here<br>
        &emsp;&emsp;*/<br>
        }<br>
        <br>
        void loop() {<br>
        &emsp;&emsp;while (Serial.available()>0) {<br>
        &emsp;&emsp;&emsp;&emsp;char lastRecvd = Serial.read();<br>
        &emsp;&emsp;&emsp;&emsp;if (lastRecvd == '\n') {<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;switch (input[0]) {<br>
        {{range .Write}}
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;case '{{.SerialStr}}':<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;/*<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Write code here.<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;*/<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;break;<br>
        {{end}}
        {{range .Read}}
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;case '{{.SerialStr}}':<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;/*<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Write code here.<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;*/<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;break;<br>
        {{end}}
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;default:<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;break;<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;}<br>
        &emsp;&emsp;&emsp;&emsp;}<br>
        &emsp;&emsp;&emsp;&emsp;else {<br>
        &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;input += lastRecvd;<br>
        &emsp;&emsp;&emsp;&emsp;}<br>
        &emsp;&emsp;}<br>
        }<br>
      </div>
    </div>

    </div>

    <div id="footer">
      <div>
        {{template "srccode" .}}
      </div>
    </div>
  </body>
</html>
