body {
  font-family:"TitilliumTextMedium",helvetica,sans-serif;
  font-size: 14px;
}

h2 {
  color: #00749f;
}

h3 {
  color: #0094ca;
}

.fieldset-auto-width {
  display: inline-block;
}

.code {
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
}

ul#menu li {
  display:inline-block;
}
