body {
  font-family:'Titillium Web', serif;
  font-size: 14px;
  margin: 10px;
}

h1 {
  color: #FFFFFF;
  text-align: center;
  position: relative;top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

h2 {
  color: #00749f;
}

h3 {
  color: #0094ca;
}

#header {
  background-color: #0094ca;
  margin: 0px;
  margin-bottom: 10px;
  height: 90px;
  border-radius: 5px;
  padding-right: 15px;
  padding-left: 15px;
}

#signout {
  color: #FFFFFF;
  text-align: center;;
}

#footer {
  background-color: #0094ca;
  color: #FFFFFF;
  margin: 0px;
  border-radius: 5px;
  clear: both;
  font-size: 90%;
  text-align: center;
  padding: 15px;
}

a {
  background-color: #0094ca;
  color: #FFFFFF;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

#normallink {
  background-color: white;
  color: black;
  padding: 0px;
}

.fieldset-auto-width {
  display: inline-block;
}

.code,#db {
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
  width: 500px;
}

.code,#proto {
  font-family: "Courier New", Courier, monospace;
  font-size: 90%;
  width: 200px;
}

#protoblock {
  clear: left;
  float: left;
}

#dbblock {
  float: left;
}

ul#menu li {
  display:inline-block;
}
